Package: com.muirey03.ioclient
Name: ioclient
Depends: 
Version: 1.0.0
Architecture: iphoneos-arm
Description: Find the owning IOService of an IOUserClient
Maintainer: Muirey03
Author: Muirey03
Section: System
Tag: role::hacker
